{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style="width: 100%;">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px;
            background-color: #fff;
            border-radius: 4px;
            padding: 5px;">
				<form id="form">
					<div id="user-info">
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input required class="form-control" type="text" name="name" placeholder="Tên..">
						</div>
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Thông tin vận chuyển:</p>
						<hr>
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input class="form-control" type="text" name="address" placeholder="Địa chỉ..">
						</div>
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input class="form-control" type="text" name="city" placeholder="Thành phố..">
						</div>
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input class="form-control" type="text" name="state" placeholder="Tình trạng..">
						</div>
						<div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input class="form-control" type="text" name="zipcode" placeholder="Mã bưu chính..">
						</div>
						<!-- <div class="form-field" style="width:250px;
                        display: inline-block;
                        padding: 5px;">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div> -->
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Tiếp tục" style="width: 730px;">
				</form>
			</div>

			<br>
			<!-- <div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div> -->
			
		</div>

		<div class="col-lg-6">
			<div class="box-element" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px;
            background-color: #fff;
            border-radius: 4px;
            padding: 5px;">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Quay lại giỏ hàng</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{%for item in items%}
				<div class="cart-row" style="display: flex;
                align-items: flex-stretch;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #ececec;">
					<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}" style="width: 100px;"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.email}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Số lượng:   {{order.get_cart_items}}</h5>
				<!-- <h5>Total:   $4</h5> -->
			</div>
		</div>
	</div>
{% endblock content_checkout %}