{% extends 'app/base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block register %}
        <h5> {{searched}} </h5> <br />
        <div class="row" style="margin-top: 20px; width: 100%;">
          {%for product in keys%}
          <div class="col-lg-3">
              <img class="thumbnail" src="{{product.ImageURL}}" style="width: 370px;
              height:260px;
              -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
              -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
              box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);">
              <div class="box-element product" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px;
              background-color: #fff;
              border-radius: 4px;
              padding: 5px; width: 370px;">
                  <h6><strong>{{product.name}}</strong></h6>
                  <hr>
      
                  <button data-product={{product.id}} data-action = "add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
                  <a class="btn btn-outline-success" href="#">Xem</a>
                  <h4 style="display: inline-block; float: right; font-size: 21px;"><strong>{{product.price}}</strong></h4>
              </div>
          </div>
          {% endfor %}
      </div>
        {% endblock register %}
    </body>
</html>